h1 {color: #DAFABB;font-size:50px}
h1{text-shadow: .2em.2em.1em silver;}
body{ margin:5%; background-color:#456329}
 a{margin: 3%;
background-color:#DAFABB;
font-size: 30px;}
  table { text-align:justify}
  header{ background-color: #5C7C3E} 
 a {text-decoration:none;color:#687342}
h3{color: #DAFABB;font-size:50px}
 h3{text-shadow: .2em.2em.1em silver;}
